
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    perspective: 600px;
}
/*
.card{
    width:30%;
    margin-left:35%;overflow: hidden;

}
div:hover {
   
    transform: rotate(90deg);
    transition: all 4s;
}
.icons{
    background-color: black;
    width:55%;
}
.icons i{
    color: white;
    margin:10px;
}
.card:hover img{
    transform: rotate(45deg) scale(2);
    transition: all 2s;
    
}
.cardimg{
    overflow:hidden;
}
.cardtext{
    display: flex;
}
.card:hover .cardtext,.icons{
    color:rgb(102, 102, 239)
}
.card:hover .icons{
    background-color:rgb(102, 102, 239) ;
}

.card{
    width:30%;
    margin-left:35%;
    text-align: center;
}
.card .details {
    width:100px;
    color:red;
}
.card .details h3{
    text-align:center;
}

.card .details .img{
    width:100%;
    height:100px;
    overflow: hidden;
    
}

.my3d{
    width:40%;
    height: 419px;
    background-color: red;
  
    margin:5% auto;
}

.front{
    
}

.mycard{
    width:40%;
    height: 419px;
    
  
    margin:5% auto;
    position:relative;
}

.trans{
    border:4px solid rgb(218, 45, 45);
    background: transparent;
    position:absolute;
    z-index: 1000;
    transform: rotateX(44deg);
    width:100%;
    height: 100%;
    box-shadow: 0 0 10px rgb(117, 117, 117);
   

}
.yellow{
    background:yellow;
   
      margin: 48px;
       width:100%;
       height: 100%;
       position:absolute;
       z-index: 500;
       transform: rotateX(43deg) ;
       box-shadow: 0 0 10px rgb(117, 117, 117);

}
.red{
    background-color: red;
     width:100%;
    height: 100%;
       position:absolute;
       z-index: 100;
       transform: rotateX(43deg);
           margin: 96px;
             box-shadow: 0 0 10px rgb(117, 117, 117);
}
.mycard:hover .trans{
transform: rotateX(0deg);
transform: all 2px;
}
.mycard:hover .red{
transform: rotateX(0deg);
margin:0px;
transform: all 2px;
}
.mycard:hover .yellow{
transform: rotateX(0deg);
margin:0px;
transform: all 2px;

}
*/

.container{
    background:green;
    width:10rem;
    margin:10rem auto;
    height: 10rem;
    
 

}
img{
    width:20%;
    height: 20%;
    margin:20% 0;
     animation-name:x;
    animation-duration: 1s;  
    animation-iteration-count: infinite;
    animation-timing-function: .
}
@keyframes x {
    0%{
        margin-left:0px;

        
    }
    30%{
          margin-left:30px;
        
    }
    60%{
          margin-left:60px;
        
    }
     85%{
        margin-left:85px;
        
    }
     100%{
          margin-left:110px;
        
    }
}
    
